<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }

      .btn_aplicativo {
        text-decoration: none;
        padding: 10px;
      color: #ffffff;
      border-radius: 10px;
      background-color: transparent;

      border: 2px solid #FFFFFF;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="style" href="../../../css/styles.css">
    <input placeholder="email" type="email" value="{{email::input}}"> </input>
    <input placeholder="password" type="password" value="{{password::input}}"> </input><br>
    <p>

    <button class="btn_aplicativo" on-click="login"> Login </button>
    <button class="btn_aplicativo" on-click="altausuario"> Alta </button>
    
    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          password: {
            type: String

          }, email: {
            type: String
          }, isLogged: {
            type: Boolean,
            value: false
          }, userid: {
            type: Number
          }
        };
      }
      login(){
        console.log("El usuario ha pulsado el botón Login");
        console.log("Voy a enviar la petición");

        var loginData = {
          "email":this.email,
          "password":this.password
        }
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Petición enviada");
      }

      manageAJAXResponse(data){
        console.log("Legaron los resultados");
        console.log(data.detail.response);

        this.isLogged = true;
        //Generamos el evento
        console.log("Lanzando evento del login");
        this.dispatchEvent(
          new CustomEvent(
            "isloggedevent",
            {
              "detail" : {
                "userid": data.detail.response.id,
                "isLogged": this.isLogged
              }
            }
          )
        )
      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);

        this.isLogged = false;
      }

      altausuario(){
        console.log("El usuario ha pulsado el botón de alta");

        //Generamos el evento
        console.log("Lanzando evento del alta usuario");
        this.dispatchEvent(
          new CustomEvent(
            "newuserevent",
            {
              "detail" : {

              }
            }
          )
        )
      }


    }//close class


    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
