<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">

<dom-module id="alta-usuario">
  <template>
    <style>
      :host {
        display: block;
      }

      .btn_aplicativo {
        text-decoration: none;
        padding: 10px;
      color: #ffffff;
      border-radius: 10px;
      background-color: transparent;

      border: 2px solid #FFFFFF;
      }

    </style>

    <div>Para darse de alta en nuestros servicios se necesita que cumplimente los siguientes datos:</div>
    <p>
      <div>Nombre: <input placeholder="nombre" type="text" value="{{first_name::input}}" required> </input></div><br>
      <div>Apellidos: <input placeholder="apellidos" type="text" value="{{last_name::input}}" required> </input></div><br>
      <div>dni: <input placeholder="dni" type="text" value="{{dni::input}}" required> </input></div><br>
      <div>Direccion: <input placeholder="direccion" type="text" value="{{address::input}}"> </input></div><br>
      <div>email: <input placeholder="email" type="email" value="{{email::input}}" required> </input></div><br>
      <div>Password: <input placeholder="password" type="password" value="{{password::input}}" required> </input></div><br>
      <!--<div>IBAN: <input placeholder="IBAN" type="text" value="{{iban::input}}" required> </input></div><br>-->

      <div>Saldo de apertura: <input type="number" value="{{saldo::input}}" required> </input> €</div><br>
    <p>
      <button class="btn_aplicativo" on-click="limpiar"> Limpiar </button><button class="btn_aplicativo" on-click="crearUsuario">Aceptar</button>
      <button class="btn_aplicativo" on-click="volver"> Volver </button>




    <iron-ajax
      id="postUser"
      url="http://localhost:3000/apitechu/V2/users"
      method="post"
      handle-as="json"
      on-response="showData"
      content-type="application/json"
      body=[[newUser]]
    >
    </iron-ajax>

    <iron-ajax
      id="postAccount"
      url="http://localhost:3000/apitechu/V1/accounts"
      method="post"
      handle-as="json"
      on-response="showResponse"
      content-type="application/json"
      body=[[newAccount]]
    >
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String,

          }, last_name: {
            type: String
          }, email: {
            type: String
          }, id: {
            type: Number,

          },dni:{
            type:String
          },saldo: {
            type:Number
          },address:{
            type:String
          },newUser:{
            type:Object
          },password:{
            type:String
          },newAccount:{
            type:Object
          },iban:{
            type:String
          }
        };
      }

      showData(data){
        console.log("Ha llegado respuesta");
        console.log(data.detail.response);
        this.id=data.detail.response.id;
        this.newAccount={};
        this.newAccount.userid=data.detail.response.id;

        var min = 1000;
        var max = 9999;

        var iban1 = Math.floor(Math.random() * (max - min + 1)) + min;
        var iban2 = Math.floor(Math.random() * (max - min + 1)) + min;
        var iban3 = Math.floor(Math.random() * (max - min + 1)) + min;
        var iban4 = Math.floor(Math.random() * (max - min + 1)) + min;
        var iban5 = Math.floor(Math.random() * (max - min + 1)) + min;

        this.iban ="ES32"+iban1+iban2+iban3+iban4+iban5;

        this.newAccount.iban= this.iban;
        this.newAccount.saldo=this.saldo;
        this.$.postAccount.generateRequest();

      }
      showResponse (data){
        console.log("Ha llegado respuesta del alta de la cuenta");
        console.log(data.detail.response);

        //Generamos el evento de Alta Usuario para pasarselo al user dashboard
        console.log("El usuario se ha dado de alta correctamente y visualizamos su dashboard");

        //Generamos el evento
        console.log("Lanzando evento del alta correcta de usuario");
        this.dispatchEvent(
          new CustomEvent(
            "newuserloggedevent",
            {
              "detail" : {
                "userid": this.id,
                "isLogged": true

              }
            }
          )
        )



      }
      _idChanged(newValue, oldValue){
        this.$.getUser.generateRequest();
        console.log("peticion de consulta de usuario enviada")
      }
    //   vercuentas(){
    //    console.log("Funcion Ver mis cuentas");
    //    console.log(this.id);
    //    this.$.visorcuentascomponent.userid = this.id;
    //    this.$.visorcuentascomponent.componentName="vercuentas";
    //  }

     limpiar(){
       this.first_name="";
       this.last_name="";
       this.email="";
       this.id="";
       this.dni="";
       this.saldo="";
       this.address="";
       this.password="";
     }
     crearUsuario(){
       console.log("Funcion crear usuario");
       this.newUser={};
       this.newUser.first_name = this.first_name;
       this.newUser.last_name = this.last_name;
       this.newUser.email = this.email;
       this.newUser.dni= this.dni;
       this.newUser.address= this.address;
       this.newUser.password=this.password;

       console.log(this.newUser);
       this.$.postUser.generateRequest();
       console.log("peticion de alta de usuario enviada");
     }
     volver(){
       console.log("El usuario ha pulsado el botón volver");

       //Generamos el evento
       console.log("Lanzando evento del volver a Login");
       this.dispatchEvent(
         new CustomEvent(
           "volverlogin",
           {
             "detail" : {

             }
           }
         )
       )
     }

    }//close class


    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>
</dom-module>
