<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="visor-criptodivisas">
  <template>
    <style>
      :host {
        display: block;
      }

      .btn_aplicativo {
        text-decoration: none;
        padding: 10px;
      color: #ffffff;
      border-radius: 10px;
      background-color: transparent;

      border: 2px solid #FFFFFF;
      }
    </style>
<h1>  Visor criptodivisas</h1>
  <div>A continuación se puede ver las posiciones que tiene abiertas operando con nuestro mercado virtual</div> <br>

  <table border="1" width="80%" align-content-lg-center align="center">
    <thead>
      <tr>
        <th scope="col" colspan="3">BALANCE DE LA CUENTA</th>
  <!--      <th scope="col" colspan="4">COTIZACIÓN DEL MERCADO</th> -->

      </tr>
    </thead>
  <tbody>
    <tr>
      <td></td>
      <td>Euro</td>
      <td>[[balance_eur]]</td>
<!--      <td></td>
      <td>Euro</td>
      <td>[[cotiza_eur]]</td>
      <td></td> -->
    </tr>
    <tr>
      <td></td>
      <td>Bitcoin</td>
      <td>[[balance_xbt]]</td>
<!--      <td></td>
      <td>Bitcoin</td>
      <td>[[cotiza_xbt]]</td>
      <td></td> -->
    </tr>
    <tr>
      <td></td>
      <td>Ripple</td>
      <td>[[balance_xrp]]</td>
<!--      <td></td>
      <td>Ripple</td>
      <td>[[cotiza_xrp]]</td>
      <td></td> -->
    </tr>
  </tbody>
  </table>
  <p>
    A continuación se muestran las órdenes abiertas en nuestra plataforma:
    <p>
      <table align="center" border="1" width="80%">
        <thead>
          <tr>
            <th>Identificador de la orden</th>
            <th>Descripción de la orden</th>
            <th>Tipo de órden</th>
            <th>Criptodivisa</th>
            <th>Volumen</th>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" items="{{ordenes_abiertas}}">
            <tr>

              <td>[[item.id]]</td>
              <td>[[item.descr.order]]</td>
              <td>[[item.descr.type]]</td>
              <td>[[item.descr.pair]]</td>
              <td>[[item.vol]]</td>
            </tr>
          </template>
        </tbody>

      </table><br>
<button  class="btn_aplicativo" on-click="volver">Volver</button>

  <iron-ajax
    id="getBalance"
    url="http://localhost:3000/apitechu/V1/cryptocurrencies"
    params='{"method":"Balance"}'
    handle-as="json"
    on-response="showBalance"></iron-ajax>

    <iron-ajax
      id="getOrders"
      url="http://localhost:3000/apitechu/V1/cryptocurrencies"
      params='{"method":"OpenOrders"}'
      handle-as="json"
      on-response="showOrders"></iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCriptodivisas extends Polymer.Element {
      static get is() { return 'visor-criptodivisas'; }
      static get properties() {
        return {
            balance_eur: {
            type: Number
          }, balance_xbt: {
            type: Number
          }, balance_xrp: {
            type: Number
          },cotiza_eur: {
          type: Number
          },cotiza_xrp: {
            type: Number
          },cotiza_xbt: {
          type: Number
        },ordenes_abiertas:{
          type:Array
        }
        };
      }

      showBalance(data){
        console.log("Se recibe respuesta de la consulta del balance");
        console.log(data);
        this.balance_eur = data.detail.response.ZEUR;
        this.balance_xrp = data.detail.response.XXRP;
        this.balance_xbt = data.detail.response.XXBT;
      }
      showOrders(data){
        console.log("Se recibe la respuesta de la consulta de ordenes abiertas");
        console.log(data.detail.response);
        this.ordenes_abiertas =[];
        var arrayordenes = data.detail.response.open;
        var j=0;
        for (let i in arrayordenes){
          this.ordenes_abiertas[j]=arrayordenes[i];
          this.ordenes_abiertas[j].id =i;
          j++;

        }
        console.log(this.ordenes_abiertas);
      }
      volver(e){
        //Función que vuelve la navegación a la vision de usuario
        this.dispatchEvent(
      new CustomEvent(
        "redireccionevent",
        {
          "detail" : {

            "accion": "vercuentas"
          }
        }
      )
    )
      }



    }//close class


    window.customElements.define(VisorCriptodivisas.is, VisorCriptodivisas);
  </script>
</dom-module>
