<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">

<dom-module id="modificar-usuario">
  <template>
    <style>
      :host {
        display: block;
      }

      .btn_aplicativo {
        text-decoration: none;
        padding: 10px;
      color: #ffffff;
      border-radius: 10px;
      background-color: transparent;

      border: 2px solid #FFFFFF;
      }
    </style>
    <div>A continuación se muestra su información personal. Por favor actualice sus datos personales y puse en Aceptar:</div>
    <p>
      <div>Nombre: <input placeholder="nombre" type="text" value="{{first_name::input}}" required> </input></div><br>
      <div>Apellidos: <input placeholder="apellidos" type="text" value="{{last_name::input}}" required> </input></div><br>
      <div>dni: <input placeholder="dni" type="text" value="{{dni::input}}" required> </input></div><br>
      <div>Direccion: <input placeholder="direccion" type="text" value="{{address::input}}"> </input></div><br>
      <div>email: <input placeholder="email" type="email" value="{{email::input}}" required> </input></div><br>
    <p>
      <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
        <div component-name="datospersonales">
          Si desea abrir una nueva cuenta en nuestro banco, por farvor, introduzca el importe de apertura y pulse en en botón "Abrir nueva cuenta"
        </div>
        <div component-name="anadircuenta">
          <input type="number" id="importeapertura" value={{importe::input}} reuired> </input>
          <button class="btn_aplicativo" on-click="ProcesarCrearCuenta">Abrir nueva cuenta</button>[[msg_operacion_cuenta]]
        </div>
      </iron-pages>
    <p>
      <button class="btn_aplicativo" on-click="limpiar"> Limpiar </button>
      <button class="btn_aplicativo" on-click="modificarUsuario">Aceptar</button>
      <button class="btn_aplicativo" on-click="volver"> Volver </button><p>
        [[msg_operacion]]


      <iron-ajax
        id="getUser"
        url="http://localhost:3000/apitechu/v2/users/{{userid}}"
        handle-as="json"
        on-response="showUsuario"
      >
      </iron-ajax>

      <iron-ajax
        id="putUser"
        url="http://localhost:3000/apitechu/V2/users"
        method="put"
        handle-as="json"
        on-response="showUpdate"
        content-type="application/json"
        body=[[updatedUser]]
      >
      </iron-ajax>

      <iron-ajax
        id="postAccount"
        url="http://localhost:3000/apitechu/V1/accounts"
        method="post"
        handle-as="json"
        on-response="showResponse"
        content-type="application/json"
        body=[[newAccount]]
      >
      </iron-ajax>




  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModificarUsuario extends Polymer.Element {
      static get is() { return 'modificar-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String

          }, last_name: {
            type: String
          }, email: {
            type: String
          }, userid: {
            type: Number

          },dni:{
            type:String
          },address:{
            type:String
          },updatedUser:{
            type:Object
          },msg_operacion:{
            type:String
          },componentName:{
            type:String,
            value:"datospersonales"
          },importe:{
            type:Number
          }, msg_operacion_cuenta:{
            type:String
          }, newAccount:{
            type:Object
          }
        };
      }

     limpiar(){
       this.first_name="";
       this.last_name="";
       this.email="";

       this.dni="";
       this.address="";
     }

     volver(){
       console.log("El usuario ha pulsado el botón volver");

       //Generamos el evento
       console.log("Lanzando evento del volver");
       this.dispatchEvent(
         new CustomEvent(
           "redireccionevent",
           {
             "detail" : {
                 "accion": "vercuentas"

             }
           }
         )
       )
     }
     modificarUsuario(){
       //Fucnion que modifica los datos básicos de usuario
       console.log("Funcion de modificar usuario");
       this.updatedUser={};
       this.updatedUser.id=this.userid;
       this.updatedUser.first_name = this.first_name;
       this.updatedUser.last_name = this.last_name;
       this.updatedUser.email = this.email;
       this.updatedUser.dni = this.dni;
       this.updatedUser.address = this.address;

       console.log(this.updatedUser);

       this.$.putUser.generateRequest();
       console.log("peticion de modificacion de usuario enviada");

     }
     showUsuario(data){
       //Funcion que rellena la información del usuario
       console.log("Ha llegado respuesta de la consulta del usuario a modificar" +this.userid);
       console.log(data.detail.response);
       this.first_name=data.detail.response.first_name;
       this.last_name=data.detail.response.last_name;
       this.email=data.detail.response.email;

       this.dni=data.detail.response.dni;
       this.address=data.detail.response.address;

     }

     showUpdate(data){
       console.log ("Se recibe respuesta de la modificacion de usuario");
       console.log(data);
       this.msg_operacion = data.detail.response.msg;
       this.dispatchEvent(
         new CustomEvent(
           "userupdatednevent",
           {
             "detail" : {
                 "id": this.userid

             }
           }
         )
       )

     }
     crearcuenta(){
       this.componentName="anadircuenta";
     }
     ProcesarCrearCuenta(){
       console.log("Se va a crear una nueva cuenta asociada al usuario: "+this.userid);
       this.newAccount={};
       this.newAccount.userid = this.userid;
       this.newAccount.saldo= this.importe;
       var min = 1000;
       var max = 9999;

       var iban1 = Math.floor(Math.random() * (max - min + 1)) + min;
       var iban2 = Math.floor(Math.random() * (max - min + 1)) + min;
       var iban3 = Math.floor(Math.random() * (max - min + 1)) + min;
       var iban4 = Math.floor(Math.random() * (max - min + 1)) + min;
       var iban5 = Math.floor(Math.random() * (max - min + 1)) + min;

       var iban ="ES32"+iban1+iban2+iban3+iban4+iban5;

       this.newAccount.iban=iban;

       console.log(this.newAccount);
       console.log("Se lanza la peticion de creación de cuenta");

       this.$.postAccount.generateRequest();

     }
     showResponse(data){
       this.msg_operacion_cuenta = data.detail.response.msg;
       this.importe="";

     }

    }//close class


    window.customElements.define(ModificarUsuario.is, ModificarUsuario);
  </script>
</dom-module>
