<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }

      .btn_aplicativo {
        text-decoration: none;
        padding: 10px;
      color: #ffffff;
      border-radius: 10px;
      background-color: transparent;

      border: 2px solid #FFFFFF;
      }
    </style>
    <h2>Posición Global</h2>
    <h3>Bienvenido {{first_name}} {{last_name}} a continuación le mostramos la posición global de las cuentas que tiene contratadas con nosotros:</h3>
    <p>
    <button class="btn_aplicativo" on-click="vercuentas"> Ver mis cuentas </button><br>
    <div><visor-cuentas id="visorcuentascomponent"> </visor-cuentas></div>


    <iron-ajax
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
    >
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String,

          }, last_name: {
            type: String
          }, email: {
            type: String
          }, id: {
            type: Number,
            observer: '_idChanged'
          }
        };
      }

      showData(data){
        console.log("Ha llegado respuesta");
        console.log(data.detail.response);
        console.log(data.detail.response.first_name);
        console.log(data.detail.response.last_name);
        console.log(data.detail.response.email);

        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;

      }
      _idChanged(newValue, oldValue){
        this.$.getUser.generateRequest();
        console.log("peticion de consulta de usuario enviada")
      }
      vercuentas(){
       console.log("Funcion Ver mis cuentas");
       console.log(this.id);
       this.$.visorcuentascomponent.userid = this.id;
       this.$.visorcuentascomponent.$.getAccounts.generateRequest();
       this.$.visorcuentascomponent.componentName="vercuentas";
     }
     resetear(){
       this.id="";
       this.first_name="";
       this.last_name="";
       this.email="";

       console.log("Se resetean los datos de visor usuarios");

     }

    }//close class


    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
