<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="realizar-operacion">
  <template>
    <style>
      :host {
        display: block;
      }

      .btn_aplicativo {
        text-decoration: none;
        padding: 10px;
      color: #ffffff;
      border-radius: 10px;
      background-color: transparent;

      border: 2px solid #FFFFFF;
      }
    </style>
REALIZAR OPERACION
<p>
Tipo de Operacion:
<select id="tipooperacion" on-change="tipooperacionChanged">
    <option value="Traspaso">Traspaso</option>
    <option value="Transferencia">Transferencia</option>
    <option value="Ingreso">Ingreso</option>
    <option value="Retirada">Retirada</option>
</select><p>
  <div id="div-ordenante">
  Cuenta Ordentante:
  <select id="cuentaordenante">
    <template is="dom-repeat" items="{{accounts_usuario}}">
      <option value="[[item.iban_cuenta]]">[[item.iban_cuenta]]</option>
    </template>
  </select> [[msg_error_ordentante]]
</div>
  <p>
  <div id="divbeneficiaria">
  Cuenta Beneficiaria:<br>

       <input type="text" id="tcuentabeneficiaria" value="{{this.iban_beneficiaria::input}}" hidden=true></input><br>


    <select id="scuentabeneficiaria" >
      <template is="dom-repeat" items="{{accounts_usuario}}">
        <option value="[[item.iban_cuenta]]">[[item.iban_cuenta]]</option>
      </template>
    </select>[[msg_error_beneficiaria]]
</div>

  <p>
  Concepto:<input type="text" id="tconcepto" value="{{this.concepto::input}}" required></input>
  <p>
  Importe: <input type="number" id="timporte" value="{{this.importe::input}}" required></input>
  <p>
  Divisa:
  <select id="sdivisa">
      <option value="EUR">Euro</option>
      <option value="USD">Dólar</option>
  </select>
  <p>
  <button class="btn_aplicativo" on-click="volver"> Volver</button><button class="btn_aplicativo" on-click ="ProcesarOperacion">Aceptar</button>[[msg_resultado_operacion]]

  <iron-ajax auto
    id="getAccounts"
    url="http://localhost:3000/apitechu/V1/accounts/{{userid}}"
    handle-as="json"
    on-response="showData"></iron-ajax>

    <iron-ajax
      id="getSaldoordenante"
      url="http://localhost:3000/apitechu/V1/accounts/{{userid}}/{{iban_ordenante}}"

      handle-as="json"
      on-response="getSaldoOrdenante"
      on-error="showErrorOrdenante">
  </iron-ajax>

  <iron-ajax
    id="getSaldoBeneficiaria"
    url="http://localhost:3000/apitechu/V1/accounts/{{userid}}/{{iban_beneficiaria}}"

    handle-as="json"
    on-response="getSaldoBeneficiaria"
    on-error="showErrorBeneficiaria">
</iron-ajax>

<iron-ajax
  id="actualizarcuenta"
  url="http://localhost:3000/apitechu/V1/accounts"
  handle-as="json"
  content-type="application/json"
  method="PUT"
  on-response="showResponseActualizarCuenta"
  on-error="showErrorActualizarCuenta"
>
</iron-ajax>

<iron-ajax
  id="actualizarcuentabeneficiaria"
  url="http://localhost:3000/apitechu/V1/accounts"
  handle-as="json"
  content-type="application/json"
  method="PUT"
  on-response="showResponseActualizarCuenta"
  on-error="showErrorActualizarCuenta"
>
</iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RealizarOperacion extends Polymer.Element {
      static get is() { return 'realizar-operacion'; }
      static get properties() {
        return {
          userid: {
            type: Number
          },iban_ordenante: {
            type: String
          },tipo_operacion:{
            type:String
          },iban_beneficiaria:{
            type: String
          },concepto:{
            type: String
          }, importe:{
            type:String
          },moneda:{
            type:String
          }, accounts_usuario:{
            type:Array
          },comboordenante:{
            type:Boolean,
            value: false
          }, movimiento_ordenante:{
            type:Object
          }, movimiento_beneficiaria:{
            type:Object
          }, msg_error_ordentante:{
            type:String
          },msg_error_beneficiaria:{
            type:String
          },msg_resultado_operacion:{
            type:String
          }
        };
      }
      showData(data){
        console.log("Ha llegado respuesta de la consulta de cuentas");
        console.log(data.detail.response);
        this.accounts_usuario = data.detail.response;

      }

      tipooperacionChanged(){
        //Fucnion que cambia los valorespara visualizar de manera diferente si la operación es traspaso o es una transferencia o ingreso.
        var combobeneficiaria =  this.$.scuentabeneficiaria;
        var combotipooperacion = this.$.tipooperacion;
        var txtbeneficiaria = this.$.tcuentabeneficiaria;
        console.log (combotipooperacion.value);

        if (combotipooperacion.value == "Traspaso"){
          // visualizamos el combo de cuentas beneficiarias
          combobeneficiaria.style.visibility ="visible";
          txtbeneficiaria.hidden = true;
        }else{
          //Ocultamos el combo de cuentas beneficiarias  y mostramos la caja de texto

          combobeneficiaria.style.visibility ="hidden";
          txtbeneficiaria.hidden = false;
        }
      }
    ProcesarOperacion(){
      console.log("Se procesa el pago");
      this.tipo_operacion = this.$.tipooperacion.value;
      console.log ("la operacion que se va a realizar es: "+ this.tipo_operacion);
      if (this.tipo_operacion == "Traspaso"){
        // Cargamos la cuenta beneficiaria del combo.
        this.iban_beneficiaria = this.$.scuentabeneficiaria.value;
      }else{
        this.iban_beneficiaria = this.$.tcuentabeneficiaria.value;
      }
      this.iban_ordenante = this.$.cuentaordenante.value;
      this.importe = this.$.timporte.value;
      this.concepto = this.$.tconcepto.value;
      this.divisa = this.$.sdivisa.value;
      console.log("iban ordenante "+ this.iban_ordenante);
      console.log("iban beneficiaria" + this.iban_beneficiaria);
      console.log ("cocepto: "+ this.concepto);
      console.log ("importe: "+ this.importe);
      console.log("moneda "+this.divisa);

      if(this.iban_ordenante == this.iban_beneficiaria){
        this.msg_error_ordentante="La cuenta ordenante no puede ser igual que la cuenta beneficiaria";
        this.msg_error_beneficiaria="La cuenta ordenante no puede ser igual que la cuenta beneficiaria";

      }else{
        this.msg_error_beneficiaria="";
        this.msg_error_ordentante="";

      //Consultamos el saldo de la cuenta ordenante
      this.$.getSaldoordenante.generateRequest();
      if((this.tipo_operacion =="Transferencia")|| (this.tipo_operacion == "Traspaso")){
      //Consultamos el saldo de la cuenta beneficiaria
      this.$.getSaldoBeneficiaria.generateRequest();
    }
    }


    }

    getSaldoOrdenante(data){
      console.log("Se ha recuperado la información de la cuenta ordenante");
      var error_saldoinsuficiente = false
      console.log(data.detail.response);
      this.movimiento_ordenante={};
      this.movimiento_ordenante.movimimiento ={};
      //Preparamos el objeto del movimiento en la cuenta ordenante. METER AQUI LA VALIDACION DE QUE QUE EL SALDO SEA NEGATIVO
      if(this.tipo_operacion != "Ingreso"){
        this.movimiento_ordenante.saldo = Number.parseFloat(data.detail.response.saldo) - Number.parseFloat(this.importe);
        this.movimiento_ordenante.movimimiento.importe = 0 - Number.parseFloat(this.importe);
        if (this.movimiento_ordenante.saldo <0){
          error_saldoinsuficiente=true;
          console.log("No se puede hacer la operacion por falta de fondos");
        }
      }else{
        this.movimiento_ordenante.saldo = Number.parseFloat(data.detail.response.saldo) + Number.parseFloat(this.importe);
        this.movimiento_ordenante.movimimiento.importe = Number.parseFloat(this.importe);
      }
      if(error_saldoinsuficiente== false){

      this.movimiento_ordenante.movimimiento.tipo_movimiento = this.tipo_operacion;

      this.movimiento_ordenante.movimimiento.concepto = this.concepto;
      this.movimiento_ordenante.movimimiento.moneda = this.divisa;
      console.log (this.movimiento_ordenante);

      //Preparamos la petición para invocar al servicio de actualizar la cuenta.
      var updateAccount ={
	         "iban":this.iban_ordenante,
	          "saldo":Number.parseFloat(this.movimiento_ordenante.saldo),
	          "movimientos":[
		            {
		                "tipo_movimiento": this.movimiento_ordenante.movimimiento.tipo_movimiento,
                    "concepto": this.movimiento_ordenante.movimimiento.concepto,
                    "importe": Number.parseFloat(this.movimiento_ordenante.movimimiento.importe),
                    "moneda": this.movimiento_ordenante.movimimiento.moneda
		            }
		            ]
              };
      this.$.actualizarcuenta.body = JSON.stringify(updateAccount);

      this.$.actualizarcuenta.generateRequest();
      console.log ("Se ha enviado la petición para actualizar la cuenta ordenante");
    }else{
      this.msg_error_ordentante = "La operación a realizar es superior al saldo dissponible";
    }

    }
    showErrorOrdenante(error){
      console.log(error);
      if(error.status == 404){
        this.msg_error_ordentante = "El usuario no tiene cuenta en nuestro banco"
      }

    }
    getSaldoBeneficiaria(data){
      //Fucnion que saca los datos del beneficiario para el caso en el que la cuenta esté en el mismo banco
      console.log("Se ha recuperado la información de la cuenta beneficiaria");
      console.log(data.detail.response);

      this.movimiento_beneficiaria={};
      //Preparamos el objeto del movimiento en la cuenta ordenante. METER AQUI LA VALIDACION DE QUE QUE EL SALDO SEA NEGATIVO
      if((this.tipo_operacion == "Transferencia")|| (this.tipo_operacion == "Traspaso")){
        this.movimiento_beneficiaria.saldo = Number.parseFloat(data.detail.response.saldo) + Number.parseFloat(this.importe);

      this.movimiento_beneficiaria.movimimiento ={};
      this.movimiento_beneficiaria.movimimiento.tipo_movimiento = this.tipo_operacion;
      this.movimiento_beneficiaria.movimimiento.importe = this.importe;
      this.movimiento_beneficiaria.movimimiento.concepto = this.concepto;
      this.movimiento_beneficiaria.movimimiento.moneda = this.divisa;
      console.log (this.movimiento_beneficiaria);

      //Preparamos la petición para invocar al servicio de actualizar la cuenta.
      var updateAccountB ={
           "iban":this.iban_beneficiaria,
            "saldo":Number.parseFloat(this.movimiento_beneficiaria.saldo),
            "movimientos":[
                {
                    "tipo_movimiento": this.movimiento_beneficiaria.movimimiento.tipo_movimiento,
                    "concepto": this.movimiento_beneficiaria.movimimiento.concepto,
                    "importe": Number.parseFloat(this.movimiento_beneficiaria.movimimiento.importe),
                    "moneda": this.movimiento_beneficiaria.movimimiento.moneda
                }
                ]
              };
      this.$.actualizarcuentabeneficiaria.body = JSON.stringify(updateAccountB);
      console.log(updateAccountB)

      this.$.actualizarcuentabeneficiaria.generateRequest();
      console.log ("Se ha enviado la petición para actualizar la cuenta beneficiaria");

      //Lanzamos un evento para que se actualice la info de las cuentas
      this.dispatchEvent(
        new CustomEvent(
          "accountupdatednevent",
          {
            "detail" : {
                "id": this.userid

            }
          }
        )
      )



    } else{
      console.log("La operacion no tiene cuenta beneficiaria porque es un ingreso o una retirada.")
    }



    }

    showErrorBeneficiaria(error){
      if (error.detail.status == 404)
      console.log("No se ha encontrado la cuenta beneficiaria");
      console.log(error.detail.error);
    }
    showResponseActualizarCuenta(data){
      this.msg_resultado_operacion="Operacion realizada correctamente";

    }
    showErrorActualizarCuenta(error){

    }


    resetear(){
      console.log("Se resetean las variables de realizar-operacion");
      this.userid="";
      this.iban_ordenante="";
      this.tipo_operacion="";
      this.iban_beneficiaria="";
      this.concepto="";
      this.importe="";
      this.moneda="";
      this.accounts_usuario=[];
      this.comboordenante=false;
      this.movimiento_ordenante={};
      this.movimiento_beneficiaria={};
      this.msg_error_ordentante="";
      this.msg_error_beneficiaria="";
      this.msg_resultado_operacion="";
      }

      volver(e){
        console.log("se pulsa en volver");
        //Función que vuelve la navegación a la vision de usuario
        this.dispatchEvent(
      new CustomEvent(
        "redireccionevent",
        {
          "detail" : {

            "accion": "vercuentas"
          }
        }
      )
    )
      }

    }//close class


    window.customElements.define(RealizarOperacion.is, RealizarOperacion);
  </script>
</dom-module>
