<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="cabecera-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
      .oculto {
        display: none;
      }

      .btn_aplicativo {
        text-decoration: none;
        padding: 10px;
      color: #ffffff;
      border-radius: 10px;
      background-color: transparent;

      border: 2px solid #FFFFFF;
      }

    </style>

<h1>VVBA</h1><p>

  <table id="tablamenu" class="oculto">
    <tbody>
      <tr>
        <td></td>
        <td with="40%"><button class="btn_aplicativo" on-click="redireccionModificarDatos" id="actualizardatos">Modificar Datos personales</button><td>
          <td with="40%"><button class="btn_aplicativo" on-click="redireccionVerCuentas"  id="vercuentas">Ver cuentas</button><td>
          <td with="40%"><button class="btn_aplicativo" on-click="redireccionOperar" id="operar">Operar</button><td>
          <td with="40%"><button class="btn_aplicativo" on-click="redireccionCriptodivisas" id="criptodivisas">Ver Criptodivisas</button><td>
        <td> [[first_name]] [[last_name]]</td>
        <td><button class="btn_aplicativo" on-click="processLogout" hidden="true" id="logoutbutton"> Logout </button></td>
      </tr>
    </tbody>
  </table>

    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/apitechu/v2/logout/{{userid}}"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >
    </iron-ajax>
    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}"
      handle-as="json"
      on-response="showData"
    >
    </iron-ajax>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CabeceraUsuario extends Polymer.Element {
      static get is() { return 'cabecera-usuario'; }
      static get properties() {
        return {
           isLogged: {
            type: Boolean,
            value: false
          }, userid: {
            type: Number
          }, first_name:{
            type:String
          }, last_name:{
            type:String
          }
        };
      }


      manageAJAXResponse(data){
        console.log("Legaron los resultados");
        console.log(data.detail.response);
        this.first_name ="";
        this.last_name= "";
        this.$.logoutbutton.hidden = true;
        this.$.tablamenu.style.display="none";
        this.isLogged = false;
        //Generamos el evento
        console.log("Lanzando evento del logout");
        this.dispatchEvent(
          new CustomEvent(
            "isunloggedevent",
            {
              "detail" : {

                "isLogged": false
              }
            }
          )
        )
      }

      showError(error){
        console.log("Hubo un error al hacer el logout");
        console.log(error);

        this.isLogged = true;
      }

      showData(data){
        console.log("Ha llegado respuesta");
        console.log(data.detail.response);
        console.log(data.detail.response.first_name);
        console.log(data.detail.response.last_name);


        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;

        if(this.isLogged ==true){
        this.$.logoutbutton.hidden = false;
        this.$.tablamenu.style.display="block";
      }



      }
      processLogout(){
        console.log ("Se pulsa el boton de logout");
        this.$.doLogout.generateRequest();

      }

      //Funcion que genera el evento de navegacion
      redireccionModificarDatos(){
        console.log("Se pulso en modificar datos");
          this.dispatchEvent(
        new CustomEvent(
          "redireccionevent",
          {
            "detail" : {

              "accion": "modificardatos"
            }
          }
        )
      )

      }

      redireccionVerCuentas(){
        console.log("Se pulso en VerCuentas");
          this.dispatchEvent(
        new CustomEvent(
          "redireccionevent",
          {
            "detail" : {

              "accion": "vercuentas"
            }
          }
        )
      )

      }

      redireccionOperar(){
        console.log("Se pulso en Operar");
          this.dispatchEvent(
        new CustomEvent(
          "redireccionevent",
          {
            "detail" : {

              "accion": "operar"
            }
          }
        )
      )

      }

      redireccionCriptodivisas(){
        console.log("Se pulso en Criptodivisas");
          this.dispatchEvent(
        new CustomEvent(
          "redireccionevent",
          {
            "detail" : {

              "accion": "criptodivisas"
            }
          }
        )
      )
      }
      resetear(){
        this.userid="";
        this.first_name="";
        this.last_name="";

        console.log("Se resetean los datos de cabecera");

      }

    }//close class


    window.customElements.define(CabeceraUsuario.is, CabeceraUsuario);
  </script>
</dom-module>
