<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../login-usuario/login-usuario.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">
<link rel="import" href="../alta-usuario/alta-usuario.html">
<link rel="import" href="../cabecera-usuario/cabecera-usuario.html">
<link rel="import" href="../realizar-operacion/realizar-operacion.html">
<link rel="import" href="../modificar-usuario/modificar-usuario.html">
<link rel="import" href="../visor-criptodivisas/visor-criptodivisas.html">

<dom-module id="user-dashboard">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <cabecera-usuario id="cabeceracomponent" on-isunloggedevent="processLogout" on-redireccionevent="processRedireccion"></cabecera-usuario>
    <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
      <div component-name="login"><login-usuario on-isloggedevent="processLogin" on-newuserevent="processNewUser" id="logincomponent"></login-usuario></div>
      <div component-name="visorusuario"><visor-usuario id="visorusuariocomponent"> </visor-usuario></div>
      <div component-name="altausuario"><alta-usuario on-volverlogin="processVolverLogin" on-newuserloggedevent="processNewUserLoggedEvent" id="altausuariocomponent"> </alta-usuario></div>
      <div component-name="realizar-operacion"><realizar-operacion id="realizaroperacioncomponent" on-redireccionevent="processRedireccion" on-accountupdatednevent="refrescarCuentas"> </realizar-operacion></div>
      <div component-name="modificar-usuario"><modificar-usuario id="modificarusuariocomponent" on-redireccionevent="processRedireccion" on-userupdatednevent="refrescarUsuario"> </modificar-usuario></div>
            <div component-name="ver-criptodivisas"><visor-criptodivisas id="criptodivisascomponent" on-redireccionevent="processRedireccion"> </visor-criptodivisas></div>
    </iron-pages>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserDashboard extends Polymer.Element {
      static get is() { return 'user-dashboard'; }
      static get properties() {
        return {
          componentName: {
            type: String,
            value: "login"
          }, userid:{
            type:String
          }

        };
      }

      processLogin(e){
        console.log("Capturado evento de login");
        console.log(e);
        console.log(e.detail);

        //Pasamos el id de usuario al visor-usuario
         this.$.visorusuariocomponent.id = e.detail.userid;
         this.$.visorusuariocomponent.$.visorcuentascomponent.userid = e.detail.userid;
         this.$.visorusuariocomponent.$.visorcuentascomponent.$.getAccounts.generateRequest();
         //console.log(this.$.visorusuariocomponent.id);
        // this.$.receiver.year = e.detail.year;
        this.$.cabeceracomponent.userid = e.detail.userid;

        this.$.cabeceracomponent.isLogged = e.detail.isLogged;


        this.componentName = "visorusuario";
      }
      processLogout(e){
        console.log("Capturado evento de logout");
        //Seteamos a vacio todos los atributos
        this.$.visorusuariocomponent.id ="";

        console.log("Se va a resetear el módulo de realizar operacion");
        this.$.realizaroperacioncomponent.resetear();

        console.log("Se va a resetear el módulo de cabecera");
        this.$.cabeceracomponent.resetear();


        this.$.logincomponent.email ="";
        this.$.logincomponent.password ="";
        this.$.logincomponent.userid ="";
        this.$.logincomponent.isLogged = false;

        console.log("Se va a resetear las cuentas");
        this.$.visorusuariocomponent.$.visorcuentascomponent.resetear();

        console.log("Se va a resetear los datos del usuario");
        this.$.visorusuariocomponent.resetear();

        //mostramos el componente de login
        this.componentName = "login";
      }

      processNewUser(e){
        console.log("Capturado evento de alta usuario");
        this.componentName = "altausuario";

      }
      processVolverLogin(e){
        console.log("Capturado evento de volver al login");
        this.componentName = "login";

      }
      processNewUserLoggedEvent(e){
        console.log("Capturado evento de usuario creado para ser logado");
        //Pasamos el id de usuario al visor-usuario
        console.log("el id del usuario es: "+e.detail.userid);
        console.log(e.detail);
        this.$.visorusuariocomponent.id = e.detail.userid;
        this.$.visorusuariocomponent.$.visorcuentascomponent.userid = e.detail.userid;
        this.$.visorusuariocomponent.$.visorcuentascomponent.$.getAccounts.generateRequest();
        this.$.cabeceracomponent.userid = e.detail.userid;
        this.$.cabeceracomponent.isLogged = e.detail.isLogged
      console.log(this.$.visorusuariocomponent.id);
        this.componentName = "visorusuario";

      }
      processRedireccion(e){
        var redireccion = e.detail.accion;
        console.log("La acción a ejecutar es:" + redireccion);
        if(redireccion=="vercuentas"){
          this.componentName = "visorusuario";
          this.$.visorusuariocomponent.$.visorcuentascomponent.$.getAccounts.generateRequest();
          console.log("se acutaliza el componente a subir "+this.componentName);
        } else if (redireccion=="operar"){
          this.$.realizaroperacioncomponent.resetear();
          this.$.realizaroperacioncomponent.userid = this.$.cabeceracomponent.userid;
          this.componentName="realizar-operacion";
          console.log("se acutaliza el componente a subir "+this.componentName);

        }else if(redireccion=="modificardatos"){
          this.$.modificarusuariocomponent.userid = this.$.cabeceracomponent.userid;
          this.$.modificarusuariocomponent.$.getUser.generateRequest();
          this.componentName="modificar-usuario";
          console.log("se acutaliza el componente a subir "+this.componentName);
        }else if(redireccion=="criptodivisas"){

          this.$.criptodivisascomponent.$.getBalance.generateRequest();
          this.$.criptodivisascomponent.$.getOrders.generateRequest();
          this.componentName="ver-criptodivisas";
          console.log("se acutaliza el componente a subir "+this.componentName);
        }
      }

      refrescarUsuario(e){
        //Generamos request de todos los webcomponents que contienen datos personales.
        this.$.visorusuariocomponent.$.getUser.generateRequest();
        this.$.cabeceracomponent.$.getUser.generateRequest();
      }
      refrescarCuentas(e){
        //Realizamos una nueva petición de calcular cuentas
        console.log("Se refrescan las cuentas");
        this.$.visorusuariocomponent.$.visorcuentascomponent.$.getAccounts.generateRequest();
      }

    }//close class


    window.customElements.define(UserDashboard.is, UserDashboard);
  </script>
</dom-module>
