<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }

      .btn_aplicativo {
        text-decoration: none;
        padding: 10px;
      color: #ffffff;
      border-radius: 10px;
      background-color: transparent;

      border: 2px solid #FFFFFF;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
      <div component-name="vercuentas">

    <table class="table table-striped text-white">
      <thead>
        <tr>
          <th scope="col">IBAN</th>
          <th scope="col">BALANCE</th>
            <th scope="col">ACTION</th>
        </tr>
      </thead>
      <tbody color="white">
    <template is="dom-repeat" items="{{accounts}}">
      <tr>

        <td>[[item.iban_cuenta]]</td>
        <td>[[item.saldo]] €</td>

        <td><button class="btn_aplicativo" on-click="_prepararMovimientos">Ver Movimientos</button>
        </td>
      </tr>
    </template>

  </tbody>
  </table>
</div>
<div component-name="vermovimientos">
  <br>
  <h3>IBAN: [[iban]]                 Saldo: [[balance]] € </h3>
  <br>
  <table class="table table-striped text-white">
    <thead>
      <tr>
        <th scope="col">TIPO MOVIMIENTO</th>
        <th scope="col">CONCEPTO</th>
        <th scope="col">IMORTE</th>
        <th scope="col">MONEDA</th>
      </tr>
    </thead>
    <tbody>
  <template is="dom-repeat" items="{{movements}}">
    <tr>

      <td>[[item.tipo_movimiento]]</td>
      <td>[[item.concepto]]</td>
      <td>[[item.importe]]</td>
      <td>[[item.moneda]]</td>
    </tr>
  </template>

</tbody>
</table>
<p>

</p>
<button class="btn_aplicativo" on-click="cerrarMovimientos">Cerrar</button>
</div>
</iron-pages>


<iron-ajax auto
  id="getAccounts"
  url="http://localhost:3000/apitechu/V1/accounts/{{userid}}"
  handle-as="json"
  on-response="showData"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid: {
            type: Number,
            observer: '_useridChanged'
          }, iban: {
            type: String
          }, balance:{
            type:Number
          }, accounts:{
            type:Array
          },componentName:{
            type:String
          }, movements:{
            type:Array
          }
        };
      }
      showData(data){
        console.log("Ha llegado respuesta");
        console.log(data.detail.response);
        // console.log(data.detail.response.first_name);
        // console.log(data.detail.response.last_name);
        // console.log(data.detail.response.email);
        //
        // this.first_name = data.detail.response.first_name;
        // this.last_name = data.detail.response.last_name;
        // this.email = data.detail.response.email;
        this.accounts = data.detail.response;

      }
      _useridChanged(newValue, oldValue){
        this.$.getAccounts.generateRequest();
        console.log("Peticion de consulta de cuentas  enviada");


      }
      _prepararMovimientos(e){
        console.log("Se pulsa en el botón ver movimientos de la posición: "+e.model.index);
        var poscuenta = e.model.index;
        this.movements = this.accounts[poscuenta].movimientos;
        this.balance = this.accounts[poscuenta].saldo;
        this.iban = this.accounts[poscuenta].iban_cuenta;
        this.componentName = "vermovimientos";
      }
      cerrarMovimientos(){
        this.componentName="vercuentas";
      }
      resetear(){
        this.userid="";
        this.iban="";
        this.balance="";
        this.accounts=[];
        this.movements=[];

        console.log("Se resetean los datos de visor cuentas");

      }
    }//close class

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
